body {
  font-family: "Merriweather", serif;
  margin: 100px;
}
.header {
  position: relative;
  text-align: center;
  color: black;
}
.header div img {
  height: 100%;
  width: 100%;
}
.top-center {
  position: absolute;
  top: 200px;
  left: 500px;
  padding: 40px;
  align-items: center;
  font-size: 40px;
  color: white;
}
.discount {
  text-align: center;
  margin-bottom: 100px;
}
.discount h1 {
  color: red;
  font-size: 50px;
}
.discount p {
  color: red;
}
.join-party {
  position: relative;
  text-align: left;
  color: black;
  margin-bottom: 60px;
}
.join-party div img {
  height: 100%;
  width: 100%;
}
.midnight-party {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100px;
  left: 50px;
  color: white;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.midnight-party div img {
  padding: 20px;
  height: 80%;
  width: 60%;
}
.half-width h1 {
  font-size: 80px;
}
.link-button {
  text-decoration: none;
  color: white;
  background-color: #dd8622;
  padding: 15px 30px;
  border-radius: 10px;
  border-color: #dd8622;
}
.protfolio {
  margin-bottom: 90px;
}
.protfolio-caption {
  padding-left: 25px;
}
.protfolio-caption h4 {
  color: red;
}
.protfolio-caption h1 {
  font-size: 40px;
}
.flexible {
  display: flex;
}
.one-third-width {
  width: 35%;
  padding: 5%;
}
.one-third-width img {
  width: 70%;
}
.cards {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
.subscribe {
  text-align: center;
  margin-bottom: 60px;
}
.subscribe h1 {
  font-size: 50px;
}
.input-fild {
  text-align: center;
}
.email-input {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 0;
}
.button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: aliceblue;
  background-color: red;
  border-width: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer {
  color: white;
  background-color: black;
}
.footer-items {
  padding: 80px;
}
.footer-content {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.contucts {
  display: flex;
  align-items: center;
  padding: 10px;
}
.contucts img {
  height: 100%;
}
.hr-line {
  border-top: 1px solid rgb(75, 74, 74);
  border-bottom: 1px solid rgb(75, 74, 74);
}
.social-media {
  margin: 20px;
  text-align: center;
}
